# This is a systemd service file for the uGreen DABBoardRadio
# You can place it into /lib/systemd/system/
# to register a system service for the dabboard.
# this is useful for example to auto-start the radio after system boot.
# make sure to configure the station info below to a station in your region
# 
# use 
# sudo systemctl enable dabboard
# to enable the service at startup


[Unit]
Description=DABBoard Radio autostart script
After=network.target

[Service]
ExecStart=/opt/OAP/radio_cli -b D -o 1 -l 63
ExecStop=/opt/OAP/radio_cli -k
User=root
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
