[Unit]
 Description=DAB service
 After=network.target
 
[Service]
 Type=simple
 ExecStart=/opt/OAP/TuneDAB.sh
 Restart=on-failure
 StartLimitInterval=60
 RestartSec=5
 StartLimitBurst=3

[Install]
 WantedBy=multi-user.target
 