[Unit]
 Description=OAP gpio service

[Service]
 Type=simple
 ExecStart=/opt/OAP/service_gpio.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
