[Unit]
 Description=Custom OAP startup service
 After=sound.target

[Service]
 Type=simple
 ExecStart=/opt/OAP/service_OAP_startup.sh
 Restart=on-failure
 StartLimitInterval=60
 RestartSec=5
 StartLimitBurst=3
 
[Install]
 WantedBy=multi-user.target
