[Unit]
 Description=DABBoard startup service

[Service]
 Type=oneshot
 WorkingDirectory=/opt/OAP/
 ExecStart=/opt/OAP/service_dab.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
