[Unit]
 Description=OAP User startup Service

[Service]
 Type=oneshot
 User=pi
 WorkingDirectory=/home/pi
 ExecStart=/opt/OAP/service_user_startup.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
