[Unit]
 Description=Dog starter
 Before=sysinit.target systemd-modules-load.service
 DefaultDependencies=no

[Service]
 Type=oneshot
 ExecStartPre=/bin/touch /dev/watchdog

[Install]
 WantedBy=sysinit.target
